@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&family=Playfair+Display&display=swap");

html {
  padding: 0px;
  margin: 0;
}
body {
  margin: 0px auto;
  padding: 0px;
  font-family: "Manrope", sans-serif;
}
p {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: transparent;
}
a,
button {
  transition: 0.3s all ease;
}
/* navbar section start */
.nav_logo {
  width: 40px;
  height: 44px;
}
.navbar_brand_name {
  font-size: 20px;
  font-weight: 800;
  color: var(--color2);
}
._toggler {
  box-shadow: none !important;
  border: none !important;
}
._toggler.collapsed .navbar-toggler-icon {
  background-image: url("../image/header-r8-menu-ic.svg") !important;
  transition: 0.1s all ease-in-out;
  max-width: 18px;
}
._toggler .navbar-toggler-icon {
  background-image: url("../image/header-r8-menu-cross.svg") !important;
  transition: 0.1s all ease-in-out;
  max-width: 18px;
}
.nav_link_wrapper {
  gap: 30px;
}
.single_navItem_link {
  color: var(--color3);
}
.single_navItem_link:hover {
  color: var(--bg1);
  transition: 0.3s;
}
.nav_btn_wrapper {
  gap: 30px;
  align-items: center;
}
.login_navlink {
  color: var(--color2);
  font-weight: 600;
}
.login_navlink:hover {
  color: var(--bg1);
}
.navbar_btn {
  width: 190px;
  height: 58px;
  border: 1px solid var(--color4);
  border-radius: 30px;
  color: var(--color2);
  background-color: var(--color1);
  font-size: 18px;
  font-weight: 600;
}
.navbar_btn:hover {
  background-color: var(--bg4);
  color: var(--bg5);
  border: none;
  transition: 0.5s;
}
/* responsive css */
@media only screen and (min-width: 1600px) {
}
@media (max-width: 1399px) {
}
@media only screen and (max-width: 1199px) {
  .nav_link_wrapper {
    gap: 8px;
  }
  .nav_btn_wrapper {
    gap: 8px;
  }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
  .nav_link_wrapper {
    margin-top: 30px;
    gap: 10px;
  }
  .single_navItem_link {
    text-align: center;
  }
  .nav_btn_wrapper {
    gap: 15px;
    margin-top: 8px;
  }
  .navbar_btn {
    width: 125px;
    height: 50px;
    font-size: 14px;
    text-align: center;
  }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
}
/* Mobile */
@media only screen and (max-width: 575px) {
}
/* Mobile */
@media only screen and (max-width: 420px) {
  .nav_link_wrapper {
    margin-top: 30px;
    gap: 10px;
  }
  .single_navItem_link {
    text-align: center;
  }
  .nav_btn_wrapper {
    gap: 15px;
    margin-top: 8px;
  }
  .navbar_btn {
    width: 122px;
    height: 48px;
    font-size: 14px;
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
}
/* navbar section end */

/* header section start */
.header_title_wrapper {
  margin: 100px 0px;
}
.header_title {
  font-size: 56px;
  font-weight: 800;
}
.videoVoiceBG {
  background-color: var(--bg2);
  color: #fff;
}
.header_text {
  max-width: 85%;
  color: var(--color3);
  margin: 20px 0;
  font-size: 20px;
  line-height: 32px;
}
.header_btn_wrapper {
  margin-top: 40px;
}
.yellow_button {
  width: 190px;
  height: 58px;
  border: none;
  border-radius: 30px;
  color: var(--color1);
  background-color: var(--bg1);
  font-weight: 600;
  font-size: 18px;
}
.yellow_button:hover {
  background-color: var(--bg6);
  transition: 0.3s;
}
.header_demo_btn {
  width: 190px;
  height: 58px;
  border: 1px solid var(--color4);
  border-radius: 30px;
  color: var(--color2);
  background-color: var(--color1);
  font-weight: 600;
  font-size: 18px;
  margin-left: 14px;
}
.header_demo_btn:hover {
  background-color: var(--bg4);
  color: var(--bg5);
  border: none;
  transition: 0.5s;
}
/* responsive css */
@media only screen and (min-width: 1600px) {
}
@media (max-width: 1399px) {
}
@media only screen and (max-width: 1199px) {
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
  .header_title_wrapper {
    margin: 40px 0;
  }
  .header_title {
    font-size: 32px;
    line-height: 42px;
  }
  .header_text {
    max-width: 100%;
    font-size: 14px;
    line-height: 24px;
  }
  .header_btn_wrapper {
    margin-top: 30px;
  }
  .yellow_button {
    width: 122px;
    height: 48px;
    font-size: 14px;
  }
  .header_demo_btn {
    width: 122px;
    height: 48px;
    font-size: 14px;
  }
}
/* Mobile */
@media only screen and (max-width: 575px) {
}
/* Mobile */
@media only screen and (max-width: 420px) {
}
@media only screen and (max-width: 375px) {
}
/* header section end */

/* recent chat section start */
.recent_chat_wrapper {
  background-color: var(--bg2);
  padding: 50px;
  border-radius: 12px;
}
.recent_chat_gap {
  gap: 28px;
}
.chat_card {
  background-color: var(--color1);
  padding: 28px;
  border-radius: 12px;
}
.chat_card_person_big_img_wrap {
  margin-bottom: 28px;
}
.recent_chat_big_img {
  height: 245px;
}
.chat_address {
  width: 129px;
  height: 44px;
  background-color: #1e2a3984;
  top: 12px;
  left: 12px;
  padding: 8px;
  gap: 8px;
}
.chat_address_img {
  width: 28px;
  height: 28px;
}
.chat_person_name {
  font-size: 12px;
  font-weight: 600;
}
.chatAddressText {
  font-size: 8px;
}
.recent_chat_title_wrapper {
  margin-bottom: 47px;
}
.recent_chat_title {
  font-size: 30px;
  font-weight: 600;
}
.dot1 {
  width: 12px;
  height: 12px;
  background-color: var(--bg1);
  border-radius: 100%;
}
.dot2 {
  width: 12px;
  height: 12px;
  background-color: var(--bg3);
  border-radius: 100%;
  margin-left: 7px;
  margin-right: 7px;
}
.dot3 {
  width: 12px;
  height: 12px;
  background-color: var(--bg4);
  border-radius: 100%;
}
.recent_chat_img {
  width: 76px;
  height: 76px;
}
.recent_chat_person_name {
  color: var(--color2);
  font-size: 20px;
  font-weight: 600;
}
.recent_chat_person_address {
  color: var(--color3);
  font-size: 16px;
  margin-top: 5px;
}
.recent_chat_time {
  color: var(--color3);
  font-size: 16px;
}
.recent_chat_videoIcon {
  width: 20px;
  height: 10px;
  margin-top: 5px;
  margin-left: 15px;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #dcdee3;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* responsive css */
@media only screen and (min-width: 1600px) {
}
@media (max-width: 1399px) {
}
@media only screen and (max-width: 1199px) {
  .recent_chat_wrapper {
    padding: 30px;
  }
  .recent_chat_gap {
    gap: 10px;
  }
  .chat_card {
    padding: 20px;
  }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
  .recent_chat_wrapper {
    padding: 20px;
    border-radius: 8px;
  }
  .recent_chat_gap {
    gap: 0px;
  }
  .chat_card {
    padding: 15px;
  }
  .chat_card_person_big_img_wrap {
    margin-bottom: 15px;
  }
  .recent_chat_big_img {
    height: 175px;
  }
  .chat_address {
    width: 100px;
    height: 40px;
    top: 8px;
    left: 8px;
    padding: 7px;
    gap: 5px;
  }
  .chat_person_name {
    font-size: 9px;
  }
  .chatAddressText {
    margin-top: 3px;
    font-size: 6px;
  }
  .recent_chat_title_wrapper {
    margin-top: -10px;
    margin-bottom: 25px;
  }
  .recent_chat_title {
    font-size: 26px;
  }
  .dot1 {
    width: 10px;
    height: 10px;
  }
  .dot2 {
    width: 10px;
    height: 10px;
  }
  .dot3 {
    width: 10px;
    height: 10px;
  }
  .recent_chat_img {
    width: 60px;
    height: 60px;
  }
  .recent_chat_person_name {
    font-size: 18px;
  }
  .recent_chat_person_address {
    font-size: 13px;
  }
  .recent_chat_time {
    font-size: 15px;
  }
  .recent_chat_videoIcon {
    width: 18px;
    height: 9px;
  }
  .divider {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
  .recent_chat_wrapper {
    border-radius: 4px;
  }
  .recent_chat_gap {
    gap: 10px;
  }
  .chat_card {
    width: 100%;
    border-radius: 4px;
  }
  .small_right_padding_remove {
    padding-right: 0;
  }
  .recent_chat_big_img {
    height: 100%;
  }
  .chat_address {
    width: 50px;
    height: 20px;
    top: 6px;
    left: 6px;
    padding: 3px;
    gap: 3px;
  }
  .chat_address_img {
    width: 15px;
    height: 15px;
  }
  .chat_person_name {
    font-size: 4px;
    margin-bottom: 15px;
  }
  .chatAddressText {
    font-size: 3px;
    margin-top: -15px;
  }
  .recent_chat_title_wrapper {
    margin-top: -2px;
    margin-bottom: 16px;
  }
  .recent_chat_title {
    font-size: 18px;
  }
  .dot1 {
    width: 5px;
    height: 5px;
  }
  .dot2 {
    width: 5px;
    height: 5px;
    margin: 0 3px;
  }
  .dot3 {
    width: 5px;
    height: 5px;
  }
  .recent_chat_img {
    width: 35px;
    height: 35px;
  }
  .recent_chat_person_name {
    font-size: 12px;
    padding-top: 4px;
  }
  .recent_chat_person_address {
    font-size: 9px;
    margin-bottom: 2px;
  }
  .recent_chat_time {
    font-size: 9px;
    padding-top: 0px;
    padding-left: 15px;
  }
  .recent_chat_videoIcon {
    width: 9px;
    height: 5px;
    margin-left: 25px;
  }
  .divider {
    height: 0.5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
/* Mobile */
@media only screen and (max-width: 575px) {
  .recent_chat_wrapper {
    padding: 15px;
  }
  .recent_chat_gap {
    gap: 4px;
  }
  .chat_card {
    width: 100%;
    padding: 12px;
  }
  .chat_card_person_big_img_wrap {
    margin-bottom: 12px;
  }
  .recent_chat_title_wrapper {
    margin-top: -5px;
    margin-bottom: 12px;
  }
  .recent_chat_title {
    font-size: 14px;
  }
  .recent_chat_img {
    width: 28px;
    height: 28px;
  }
  .recent_chat_person_name {
    font-size: 8px;
  }
  .recent_chat_person_address {
    font-size: 6px;
  }
  .recent_chat_time {
    font-size: 6px;
  }
  .recent_chat_videoIcon {
    width: 6px;
    height: 3px;
  }
}
/* Mobile */
@media only screen and (max-width: 420px) {
  .recent_chat_wrapper {
    padding: 12px;
  }
  .recent_chat_gap {
    gap: 0px;
  }
  .chat_card {
    padding: 8px;
  }
  .chat_card_person_big_img_wrap {
    margin-bottom: 8px;
  }
  .recent_chat_title {
    font-size: 12px;
  }
  .dot1 {
    width: 4px;
    height: 4px;
  }
  .dot2 {
    width: 4px;
    height: 4px;
    margin: 0 3px;
  }
  .dot3 {
    width: 4px;
    height: 4px;
  }
  .divider {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
@media only screen and (max-width: 375px) {
  .recent_chat_img {
    width: 22px;
    height: 22px;
  }
  .recent_chat_person_name {
    font-size: 6px;
    padding-top: 4px;
  }
  .recent_chat_person_address {
    font-size: 4px;
    margin-bottom: 2px;
  }
  .recent_chat_time {
    font-size: 4px;
  }
  .divider {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
/* recent chat section end */

.section_gap {
  margin-top: 170px;
}
.you_can_meet_title {
  font-size: 36px;
  font-weight: 800;
  color: var(--color2);
}
.you_can_meet_text {
  margin-top: 18px;
  color: var(--color3);
  font-size: 18px;
  line-height: 30px;
}
.you_can_meet_card {
  background-color: var(--bg5);
  padding: 20px 60px;
}
@media only screen and (max-width: 375px) {
  .you_can_meet_title {
    width: 95%;
    font-size: 22px;
    line-height: 32px;
  }
  .you_can_meet_text {
    width: 95%;
    margin-top: 12px;
    font-size: 14px;
    line-height: 24px;
  }
  .you_can_meet_card {
    background-color: var(--bg5);
    padding: 10px 20px;
  }
  .section_gap {
    margin-top: 100px;
  }
}
.integrateBg {
  background-color: var(--bg5);
  padding: 100px 0px;
}
.integrate_title {
  font-size: 36px;
  max-width: 45%;
  font-weight: 800;
}
.integrate_text {
  margin-top: 18px;
  max-width: 50%;
  font-size: 18px;
  color: var(--color3);
  line-height: 30px;
  margin-bottom: 70px;
}
.integrate_card_img {
  width: 44px;
  height: 44px;
  object-fit: fill;
}
.integrate_card_text {
  font-size: 14px;
  color: var(--color3);
  line-height: 26px;
}
.card_communication {
  font-size: 14px;
  color: var(--color6);
}
.integrate_yellow_card {
  background-color: var(--bg3);
}
.integrate_yellow_card_title {
  font-size: 36px;
  font-weight: 800;
  color: var(--color2);
}
.integrate_yellow_card_text {
  color: var(--color2);
  font-size: 14px;
  line-height: 26px;
}
.integrate_yellow_card_link {
  color: var(--color2);
  font-size: 14px;
  font-weight: 600;
}
.integrate_yellow_card_link:hover {
  text-decoration: underline;
  color: var(--color2);
}
.get_started_black_btn {
  margin-top: 55px;
  width: 190px;
  height: 58px;
  border: none;
  border-radius: 30px;
  color: var(--color1);
  background-color: var(--color2);
  font-size: 18px;
  font-weight: 600;
}
.get_started_black_btn:hover {
  background-color: var(--color5);
  transition: 0.3s;
}
@media only screen and (max-width: 375px) {
  .integrateBg {
    padding: 35px 0px;
  }
  .integrate_title {
    max-width: 100%;
    font-size: 22px;
    line-height: 32px;
  }
  .integrate_text {
    max-width: 100%;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .get_started_black_btn {
    width: 122px;
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 28px;
    margin-bottom: 20px;
  }
}

.how_it_works_title {
  font-size: 36px;
  font-weight: 800;
  color: var(--color2);
  margin-bottom: 18px;
}
.how_it_works_text {
  max-width: 45%;
  font-size: 18px;
  color: var(--color3);
  line-height: 30px;
  margin-bottom: 70px;
}
.how_it_works_card1 {
  padding: 40px 0;
  background-color: var(--bg2);
  border-radius: 12px;
}
.how_it_works_card_img {
  padding: 0 46px;
  object-fit: cover;
}
.how_it_works_card_title_wrap {
  padding: 28px 26px 0 26px;
}
.how_it_works_card_title {
  font-size: 24px;
  font-weight: 700;
}
.how_it_works_card_text {
  margin-top: 18px;
  font-size: 16px;
  line-height: 28px;
}
.how_it_works_card2 {
  padding: 40px 0;
  background-color: var(--bg3);
  border-radius: 12px;
}
.how_it_works_card3 {
  padding: 40px 0;
  background-color: var(--bg1);
  border-radius: 12px;
}
@media only screen and (max-width: 375px) {
  .how_it_works_title {
    font-size: 22px;
    line-height: 32px;
  }
  .how_it_works_text {
    max-width: 100%;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .how_it_works_card_holder {
    padding: 0;
  }
  .how_it_works_card_img {
    padding: 0 30px;
  }
  .how_it_works_card_title_wrap {
    padding: 28px 12px 0 12px;
  }
}
.review_wrapper {
  background-color: var(--bg5);
  padding: 100px 0px;
}
.review_section_title {
  max-width: 60%;
  font-size: 36px;
  line-height: 46px;
  font-weight: 800;
}
.review_card {
  background: var(--color1);
  border-radius: 6px;
}
.review_start_wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.review_start {
  width: 16px;
  height: 16px;
}
.slide__content {
  font-size: 14px;
}
.splide__arrows {
  display: none;
}
.splide__pagination__page {
  background: #dac1ab;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  border: none;
  margin: 42px 12px 0 12px;
}
.splide__pagination__page.is-active {
  transform: scale(1.5);
  background: var(--bg1);
  border-radius: 100%;
}
.review_title {
  font-size: 20px;
  color: var(--color2);
  font-weight: 700;
  margin-top: 20px;
}
.review_text {
  color: var(--color3);
  font-size: 14px;
  line-height: 26px;
  margin-top: 12px;
  margin-bottom: 20px;
}
.reviewer_img {
  width: 46px;
  height: 46px;
}
.reviewer_name {
  color: var(--color2);
  font-size: 16px;
  font-weight: 700;
}
.reviewr_position {
  color: var(--color6);
  font-size: 12px;
  margin-top: 5px;
}
.see_more_love_link {
  color: var(--color2);
  font-weight: 600;
}
.see_more_love_link:hover {
  color: var(--bg6);
  transition: 0.3s;
}
.countdown_wrapper {
  margin-top: 60px;
}
.countdown_title {
  color: var(--color2);
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 12px;
}
.countdown_text {
  font-size: 18px;
  color: var(--color3);
}
@media only screen and (max-width: 375px) {
  .review_wrapper {
    padding: 55px 0px;
  }
  .review_section_title {
    max-width: 95%;
    font-size: 22px;
    line-height: 32px;
  }
  .countdown_wrapper {
    margin-top: 28px;
  }
}
.ready_to_start_title {
  font-size: 36px;
  font-weight: 800;
  color: var(--color2);
}
.ready_to_start_text {
  font-size: 18px;
  line-height: 30px;
  color: var(--color3);
  margin-top: 20px;
  margin-bottom: 35px;
}
@media only screen and (max-width: 375px) {
  .ready_to_start_title {
    font-size: 22px;
    line-height: 32px;
  }
  .ready_to_start_text {
    font-size: 14px;
    line-height: 24px;
  }
}
.footer_wrapper {
  background-color: var(--bg7);
  padding-top: 100px;
}
.footer_logo {
  width: 40px;
  height: 44px;
}
.footer_agency_name {
  color: var(--color1);
  font-size: 20px;
  font-weight: 800;
}
.footer_agency_address {
  color: var(--color4);
  font-size: 16px;
  line-height: 28px;
  margin-top: 18px;
}
.form_wrapper {
  margin-top: 44px;
}

.form__field {
  font-family: inherit;
  width: 270px;
  border: 0;
  border-bottom: 1px solid var(--color7);
  outline: 0;
  font-size: 16px;
  padding: 14px 0;
  background: transparent;
}
.form__field::placeholder {
  color: var(--color8);
}
.form__field:focus {
  color: var(--color4);
  border-bottom: 1px solid var(--bg1);
}
.footer_subscribe_btn {
  margin-top: 28px;
  font-size: 18px;
  color: var(--color1);
  background-color: var(--bg1);
  width: 143px;
  height: 58px;
  border: none;
  border-radius: 30px;
}
.footer_subscribe_btn:hover {
  background-color: var(--bg6);
  transition: 0.3s all ease-in-out;
}
.footer_agency_menu_txt {
  color: var(--color1);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.footer_link {
  color: var(--color4);
}
.footer_link:hover {
  color: var(--bg1);
  transition: 0.3s all ease-in-out;
}
.footer_divider {
  width: 100%;
  height: 1px;
  background-color: var(--color7);
}
.copy_right_text {
  font-size: 14px;
  color: var(--color8);
  padding: 20px 0;
}
@media only screen and (max-width: 375px) {
  .footer_wrapper {
    padding-top: 55px;
  }
  .footer_subscribe_btn {
    width: 125px;
    height: 50px;
  }
  .footer_all_menu_wrapper {
    gap: 36px;
  }
  .copy_right_text {
    padding: 27px 0;
  }
}

/* variable */
:root {
  --color1: #fff;
  --color2: #1e2a39;
  --color3: #696c74;
  --color4: #b6bcc5;
  --color5: #161615;
  --color6: #8f8f8f;
  --color7: #534c67;
  --color8: #72777e;
  --bg1: #ffa654;
  --bg2: #917aeb;
  --bg3: #fdda5f;
  --bg4: #64c67e;
  --bg5: #fff7f0;
  --bg6: #f78317;
  --bg7: #1f1a33;
}
